*{
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(214, 248, 248);

    font-family: Arial, sans-serif;
        
}


header {
    background-color:  #010127;
    min-height: 100px;
    text-align: center;
    padding-top: 40px;
    border-bottom: 1px solid rgb(193, 226, 226);

}
header>h1 {
    background-color: #1a5c37;
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 2em;
    font-weight: normal;
    text-shadow: 2px 2px 0px black;
}

header>p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 2em;
    max-width: 600px;
    padding-right: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px black;
    
}
header img{
width: 300px;
height: 200px;
display: block;
margin-left: auto;
margin-right: auto;

}   

nav {
    background-image: linear-gradient(#010127, white) ;
    padding: 10px;
    box-shadow: 0px 7px 7px black;
}

nav>a {
    color: #010127;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: -5s;
}

nav>:hover {
    background-color: #4e7a14;
    color: #3d062c;

}
.login-text{
    color: #010127;
}


article h2 {
    
    font-family: var(--fonte-android);
}

h3  {
    padding: 10px;
  
    margin-left: 30px;
}

h4{
    text-align: center;
}
h6{
    text-align: center;
    font-size: 25px;
}

p {
   margin-left: 10px;
}


.add-to-cart {
    margin-top: 20px;
}

    

#searchbar {
    width: 300px;
    height: 20px;
    padding: 10px;
    font-size: 16px;
    border: 2px;
    border-radius: 15px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;

  
}

#searchbar::placeholder {
    color: #999;
    font-size: italic;

}
    
.bi-search {
    color: yellow;
    font-size: 24px;
    margin: 10px;
    transition: color 0.3s;
 
}
    
 .add-to-cart{
        margin: 10px;
    }
    
  #span {
    text-align: right;
   
  }
  
    
    #compras {
        background-image: linear-gradient( white,#010127) ;
        text-align:right ;
        color: white;
     
    }

    #carrinho {
        position: absolute;
        margin: 1em 1em 1em;
        color: black;
        width: 3em;
        right: 2;
       
    }

    footer{
        text-align: center;
        background-image: linear-gradient(to left, rgba(255,0,0,0),  rgb(12, 2, 39));    }

    h5{
        color: blue;
    }

    table{
        margin: auto;
        padding: 10px;
        border-spacing: 20px;
    }

    /* index */
    video{
        width: 400px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;

    } 

